* {
  box-sizing: border-box;
}

.expanding-container {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;
  overflow: hidden;
}

.panel {
  background-size: cover;
  background-position: center;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
}

.panel h3 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
}

.panel.active {
  flex: 5;
}
